@media screen and (min-width: 1920px){  
    .logo {
        width: 35px;
        height: 25px;
        color: rgb(190, 190, 27);
    }
    
    .golden_logo{
        width: 75px;
        height: 65px;
        margin-left: 25px;
    }
    
    #Description{
        text-align: left;
        display: flex;
        background-color: white;
        margin-top: 80px;
        position: relative;
    }
    
    #Inter{
        margin-left: 12%;
    }

    #contactnous{
        margin-left: 150px;
    }
}

@media screen and (min-width: 360px)  {
    .logo {
        width: 35px;
        height: 25px;
        color: rgb(190, 190, 27);
    }
    
    .golden_logo{
        width: 75px;
        height: 65px;
        margin-left: 25px;
    }
    
    #Description{
        text-align: left;
        display: flex;
        background-color: white;
        margin-top: 80px;
        position: relative;
        flex-direction: column;
    }
    
    #Inter{
        margin-left: 12%;
    }

    #contactnous{
        margin-left: 8%;
    }
}