#Nav {
    background-color:rgb(58, 49, 49);
    display: flex;
    border-radius: 35px;
    width: 45%;
    text-align: center;
    margin-left: 25%;
}

.Button {
    color: white;
    margin-left: 25px;
    text-decoration: underline;
    font-size: 75;
    font-weight: bold;

}

.firstButton {
    font-weight: bold;
    font-size: 75;
    color: white;
    text-decoration: underline;
    margin-left: 5cm;
}

.Button:hover{
    color: yellow;
}

.firstButton:hover{
    color: yellow;
}

