@media screen and (min-width: 1920px) {
    #my_guide{
        margin-left: 41%;
    }
    
    .guide_contactor{
            background-color: black;
            color: white;
            width: 270px;
            height: 40px;
            border-radius: 30px;
            opacity: 0.8;
            text-align: center;
            padding-top: 15px;
            position: absolute;
    }
        
    .guide_contactor:hover{
        background-color: rgb(145, 145, 26);
    }
}

@media screen and (min-width: 360px) and (max-widtht: 640px) {
    .mapImage{
        width: 100%;
    }

    #my_guide{
        margin-left: -50px;
    }   
    
    .guide_contactor{
        width: 30px;
        height: 10px;
        font-size: 10px;
        color: white;
        border-radius: 30px;
        opacity: 0.8;        
        text-align: center;
        padding-top: 15px;
        position: absolute;
    }
     
}
