#restauration{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: '#dde0e6';
    ;
}

h1{
    text-align: center;
    font-size: 20px;
    color: black;
}

.gastronomie{
    text-align: center;
    font-size: 20px;
    
}

.image-dimensions {
    width: 300px; height: 200px;
    margin-left: 70px;
}

.image-2dimensions {
  width: 200px; height: 200px;
  margin-left: 70px;
}

.content-with-margin {
  padding-left: 50px;
}

.content-margin {
  padding-left: 5%;
  text-align: center;
}

.tuer {
  display: grid; grid-template-columns: repeat(2, 1fr); /* 2 colonnes de largeur égale */ 
}
.content-with {
  padding-left: 10px;
}

.content-h1{
    text-align: left;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-right: 20px; 
    margin-left: 60px;
  }
  
  .reserveForm {
    display:flex;
    flex-direction: row;
    align-items:flex-start;
  }

  .reserveFor {
    display:flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: space-between;
    margin-top: 5%;
    margin-right: 100%;
    margin-left: 2%;
  }

    .reserveForm button {
    align-self: flex-end; 
  }
  
  .button-custom { 
     background-color: #4b4b4b;
     color: white; 
     border: none; 
     padding: 10px 20px;
     text-align: center; 
     text-decoration: none; 
     display: inline-block; 
     font-size: 14px; 
     margin: 4px 2px;
     border-radius: 5px;
     margin-right: 50%; 
    }

    .button-custom1 { 
      background-color: #4b4b4b;
      color: white; 
      border: none; 
      padding: 10px 20px;
      text-align: center; 
      text-decoration: none; 
      display: inline-block; 
      font-size: 14px; 
      margin: 4px 2px;
      border-radius: 5px;
      margin-right: 50%; 
     }
 
    .button-custom1:hover { 
        background-color: #45a049; 
    }

    .button-custom:hover { 
      background-color: #45a049; 
  }
    .image {
        justify-content: center;
        align-items: center;
        margin-left: 50px;
        width: 59%;
    }    
    

      .overlay {
        display:flex;
        background-color: black;
        color: white;
        width: 57.75%;
        padding: 10px 0; 
        box-sizing: border-box;
        position: absolute;
        text-align: center;
        margin-left: 50px;
        margin-top: -27px;
        justify-content: space-between;
      }
      
      .overlay-text {background-color: black; margin: 0; font-size: 16px; }
      .overlay-button_one {       
        background-color: black;
        color: white;
        padding: 10px 20px;
        font-size: 30px;
        margin-left: 0px;
        border: none;
      }

      .overlay-button_two {       
        background-color: black;
        color: white;
        padding: 10px 20px;
        font-size: 15px;
        margin-right: 0px;
        border: none;
      }

      .overlay1 {
        display:flex;
        background-color: black;
        color: white;
        width: 97.5%;
        padding: 10px 0; 
        box-sizing: border-box;
        text-align: center;
        margin-left: 0.5%;
        margin-top: -27px;
        justify-content: space-between;
      }
      
      .overlay-button_one1 {       
        background-color: black;
        color: white;
        padding: 10px 20px;
        font-size: 30px;
        margin-left: 0px;
        border: none;
      }

      .overlay-button_two2 {       
        background-color: black;
        color: white;
        padding: 10px 20px;
        font-size: 15px;
        margin-right: 0px;
        border: none;
      }

      .overlay-button_two2:hover {
        background-color: yellowgreen;
      }

      .image1 {
        justify-content: center;
        align-items: center;
        margin-left: 0.5%;
        width: 97%;
      }    
      .overlay-button_two:hover {
        background-color: yellowgreen;
      }

      .overlay_one {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
        background-color: black;
        color: white;
        width: 95%;
        height: 150px;
        padding: 10px 0; 
        text-align: center;
        margin-top: 10%;
      }


      .overlay-button_twox {       
        background-color: black;
        color: white;
        padding: 10px 20px;
        font-size: 15px;
      }

      .colored-box {
        text-align: left;
        background-color: #c0c0c0;
        color: black;
        width: 75%;
        padding-left: 10px; 
        margin-top: 80px;
        margin-right: 2px;
        margin-left: 5px;
        padding-bottom: 20px;
        border-left: 15px solid #FFD700;
      }

      .po{
        background-color:#c0c0c0;
        padding-left: 20px;
      }

      .pore{
        background-color:#c0c0c0;
        padding-left: 5px;
        font-size: 30px;
        padding-top: 0px;
        margin-bottom: 0;
      }

      .pre{
        background-color:#c0c0c0;
        padding-left: 5px;
        font-size: 20px;
        color:#DAA520;
        margin-top: 10px;
      }

      .pr{
        background-color:#c0c0c0;
        padding-left: 50px;
        font-size: 20px;
        margin-top: 0px;
      }

      .me{
        background-color:#c0c0c0;
        padding-left: 85px;
        font-size: 20px;
        margin-top: 0px;
      }

      .oi {
        background-color: #c0c0c0;
      }

      .nin{
        background-color: #c0c0c0;
        color: black;
        width: 1080px;
        padding-top: 10px;
        padding-bottom: 100px;
        padding-right: 500px;
        position:absolute;
        margin-top: 40px;
        margin-right: 5%;
      }

      .rinput{
        font-size: 30px;
        text-align: center;
      }

      .buttonto{
        background-color: #FFD700;
        width: 1300px;
        border-radius: 8px;
        height: 36px;
        padding-bottom: 10px;
        border: none;
        cursor: pointer;
        text-decoration:underline;
      }

      .cont-color{
       background-color:  #333; 
      }

      .custom-form-control { 
        background-color:  #333;; 
        color: #fff;
         border: 1px solid #444;
      }
      .custom-container {
        width: 100%; 
        max-width: 1340px;
        margin: 0 auto;
        padding: 20px;
        background-color: #333;
        border-radius: 10px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }

      .form-black {
        background-color:  #333;;
        padding: 20px;
        border-radius: 10px;
        color: #fff; 
      }
      
      .form-controle {
        display: block;
        width: 1300px;
        background-color: #333; 
        color: #fff; 
        border: 1px solid #555; 
        margin-bottom: 15px;
        margin-top: 2px;
        padding: 10px;
        border-radius: 8px;
        text-align: center;
      }
      
      
      .rien{
        background-color: #333;
        color: white;
      }

      .forgot-password {
        color: white; 
        text-decoration: underline; 
        display: block;
        margin-top: 10px;
        cursor: pointer;
        background-color: #333;
      }

      .forgot-password:hover{
       color: blue;
      }
      
      .buonto{
        background-color: black;
        width: 40%;
        color: white;
        border-radius: 8px;
        height: 50px;
        padding-bottom: 10px;
        border: none;
        cursor: pointer;
        margin-left: 30px;
        padding-top: 10px;
     }

     .tour {
      padding-right: 2710px;
     }
     
     .cntr {
       background-color: #000;
       padding: 20px;
       text-align: center; 
       color: #fff;
       width: 600px;
       height: 650px;
       border-radius: 15px;
      }

     .hdr { 
      background-color: #FFD700;
      text-align: center;
      padding: 15px;
      color: white;
      width: 400px; 
      margin-left: 90px;
      border-radius: 10px;
      }

     .ipie { 
      height: 420px; 
      width: 420px;
      margin-top: 20px;
      border-radius: 15px; 
     }

     .dsptn { 
      color: #fff;
      font-size: 20px;
      margin-bottom: 100px;
     }

     .bontt { 
      background-color: #FFD700; 
      color: black;
      padding: 15px 30px; 
      border: none; 
      border-radius: 10px; 
      font-size: 16px; 
      cursor: pointer; 
      margin-top: 20px; 
      }

     .bontt:hover {
       background-color: #ff6347;
      }

      .goku {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
        gap: 150px;
        margin-left: 300px;
        margin-top: 100px;
        margin-right: 300px;
      }

      .cntr1 {
        background-color: #000;
        padding: 20px;
        text-align: center; 
        color: #fff;
        width: 500px;
        height: 550px;
        border-radius: 15px;
        margin-bottom: 100px;
       }
 
      .hdr1 { 
       background-color: #FFD700;
       text-align: center;
       padding: 15px;
       color: white;
       width: 300px; 
       margin-left: 85px;
       border-radius: 10px;
       }
 
      .ipie1 { 
       height: 320px; 
       width: 320px;
       margin-top: 20px;
       border-radius: 15px; 
      }
 
      .dsptn1 { 
       color: #fff;
       font-size: 20px;
       margin-bottom: 100px;
      }
 
      .bontt1 { 
       background-color: #FFD700; 
       color: black;
       padding: 15px 30px; 
       border: none; 
       border-radius: 10px; 
       font-size: 16px; 
       cursor: pointer; 
       margin-top: 20px; 
       }
 
      .bontt1:hover {
        background-color: #ff6347;
       }
 
       .goku1 {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between; 
         gap: 50px;
         margin-top: 10px;
         margin-left: 4%;
         padding-left: 18%;
       }

       .cntr2{
        background-color: #000;
        padding: 10px;
        text-align: center; 
        color: #fff;
        width: 100%;
        height: 55%;
        border-radius: 15px;
        margin-bottom: 100px;
        margin-left: 20%;
       }
 
      .hdr2 { 
       background-color: #FFD700;
       text-align: center;
       padding: 9px;
       color: white;
       width: 155px; 
       margin-left: 35px;
       border-radius: 10px;
       height: 35px;       
      }
 
      .ipie2 { 
       height: 107%; 
       width: 77%;
       margin-top: 6%;
       border-radius: 15px; 
      }
 
      .dsptn2 { 
       color: #fff;
       font-size: 15px;
       margin-bottom: 10px;
      }
 
      .bontt2 { 
       background-color: #FFD700; 
       color: black;
       padding: 15px 30px; 
       border: none; 
       border-radius: 10px; 
       font-size: 100%; 
       cursor: pointer; 
       margin-top: 20px; 
       }
 
      .bontt2:hover {
        background-color: #ff6347;
       }
 
       .goku2 {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between; 
         gap: 100%;
         margin-top: 5%;
         margin-right: 100%;
         margin-left: 2%;
       }
 
