@media screen and (min-width: 1920px){  
    .logo {
        width: 35px;
        height: 25px;
        color: rgb(190, 190, 27);
    }
    
    .golden_logo{
        width: 75px;
        height: 65px;
        margin-left: 25px;
    }

    #Description{
        text-align: left;
        display: flex;
        background-color: white;
        margin-top: 10vh;
        position: relative;
        height: auto;
    }

    #Inter{
        margin-left: 12%;
        width: 40%;
    }

    #contactnous{
        width: 40vw;
        margin-left: 20vw;
    }
}
@media screen and (min-width: 1024px)  and (max-width: 1919px){
    .logo {
        width: 35px;
        height: 25px;
        color: rgb(190, 190, 27);
    }
    
    .golden_logo{
        width: 75px;
        height: 65px;
        margin-left: 25px;
    }
    
    #Description{
        text-align: left;
        display: flex;
        background-color: white;
        margin-top: 80px;
        position: relative;
    }
    
    #Inter{
        margin-left: 12%;
    }

    #contactnous{
        margin-left: 150px;
    }
}
@media screen and (min-width: 0px)  and (max-width: 1023px){
    .logo {
        width: 35px;
        height: 25px;
        color: rgb(190, 190, 27);
    }
    
    .golden_logo{
        width: 15vw;
        height: 10vh;
        margin-left: 25px;
    }
    
    #Description{
        text-align: left;
        display: flex;
        background-color: white;
        margin-top: 8vh;
        position: relative;
        flex-direction: column;
        font-size: 2.5vw;
    }
    
    #Inter{
        margin-left: 12vw;
    }

    #contactnous{
        margin-left: 12vw;
    }
}