@media screen and (min-width: 1920px){
    #my_guide{
        padding-bottom: 24px;
    }

    .guide_contactor{
            background-color: black;
            color: white;
            width: 20vw;
            height: 40px;
            border-radius: 30px;
            opacity: 0.8;
            text-align: center;
            padding-top: 15px;
            margin-left: auto;
            margin-right: auto;
    }

    .guide_contactor:hover{
        background-color: rgb(145, 145, 26);
    }

    #inter{
        display: 'flex';
        flex-direction: 'column';
    }

    #inter2{
        display: 'flex';
        flex-direction: 'column';
        margin-left: 1vw;
    }

    #detAdes{
        width: 20vw;
        background-color: #c1c3c7;
        margin-left: 1vw;
    }

    #groupedImage{
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
        height: 70vh;
    }
}

@media screen and (min-width: 1024px) and (max-width:1919px){
    #my_guide{
        padding-bottom: 24px;
    }

    .guide_contactor{
            background-color: black;
            color: white;
            width: 20vw;
            height: 40px;
            border-radius: 30px;
            opacity: 0.8;
            text-align: center;
            padding-top: 15px;
            margin-left: auto;
            margin-right: auto;
    }

    .guide_contactor:hover{
        background-color: rgb(145, 145, 26);
    }

    #inter{
        display: 'flex';
        flex-direction: 'column';
    }

    #inter2{
        display: 'flex';
        flex-direction: 'column';
        margin-left: 1vw;
    }

    #detAdes{
        width: 20vw;
        background-color: #c1c3c7;
        margin-left: 1vw;
    }

    #groupedImage{
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
    }
  }
  

@media screen and (min-width: 0px) and (max-width: 1023px) {

    #my_guide{
        padding-bottom: 24px;
    }
    .guide_contactor{
            background-color: black;
            color: white;
            width: 270px;
            height: 40px;
            border-radius: 30px;
            opacity: 0.8;
            text-align: center;
            padding-top: 15px;
            font-size: 15px;
            margin-left: auto;
            margin-right: auto;
    }
        
    .guide_contactor:hover{
        background-color:rgb(235, 193, 9);
    }
    
    #inter{
        display: 'flex';
        flex-direction: 'column';
    }
    
    #inter2{
        display: 'flex';
        flex-direction: 'column';
        width: 400px;
    }
    
    #detAdes{
        width: 30vw;
        height: 20vh;
        background-color: #c1c3c7;
        margin-left: 120px;
    }

    #ohotoGroupe{
        display: flex;
        flex-direction: row;
        width: 1300px;
        margin-left: 380px;
    }

    .firstImage{
        height: 100px;
        width: 110px;
    }
    .secondImage{
        height: 130px;
        width: 110px;
        margin-top: 10px;
    }
    .thirdImage{
        width: 200px;
        height: 80px;
    }

    .fourthImage{
        margin-top: 10px;
        width: 200px;
        height: 60px
    }
}