@media screen and (min-width: 1920px) and (max-width: 2560px){    
    #the_number{
        display: flex;
        flex-direction: column;
    }

    .callme{
        background-color: black;
        color: white;
        width: 20vw;
        height: 4vh;
        border-radius: 1vw;
        opacity: 0.8;
        text-align: center;
        margin-top: 0vw;
        padding-top: 2vh;
    }

    .porpi{
        padding-left: 0.5vw;
        margin-top: -1.6%;
    }

    .callme:hover{
        background-color: rgb(145, 145, 26);
    }

    .mailme{
        background-color: black;
        color: white;
        width: 20vw;
        height: 4vh;
        border-radius: 1vw;
        opacity: 0.8;
        text-align: center;
        padding-top: 2vh;
        margin-top: 0px;
    }
    
    .mailme:hover{
        background-color: rgb(145, 145, 26);
    }
}

@media screen and (min-width: 1024px) and (max-width: 1919px){    
    #the_number{
        display: flex;
        flex-direction: column;
    }

    .porpi{
        padding-left: 5px;
        margin-top: -1.6%;
    }

    .callme{
        background-color: black;
        color: white;
        width: 270px;
        height: 30px;
        border-radius: 30px;
        opacity: 0.8;
        text-align: center;
        padding-top: 15px;
        margin-top: 0px;
    }

    .callme:hover{
        background-color: rgb(145, 145, 26);
    }

    .mailme{
        background-color: black;
        color: white;
        width: 270px;
        height: 30px;
        border-radius: 30px;
        opacity: 0.8;
        text-align: center;
        padding-top: 15px;
        margin-top: 0px;
    }
    
    .mailme:hover{
        background-color: rgb(145, 145, 26);
    }
}


@media screen and (min-width: 0px) and (max-width: 1023px) {
    #the_number{
        display: flex;
        flex-direction: column;
    }
    
    .porpi{
        padding-left: 5px;
        margin-top: -1.6%;
    }

    .callme{
        background-color: black;
        color: white;
        width: 80vw;
        height: 4.4vh;
        border-radius: 30px;
        opacity: 0.8;
        text-align: center;
        padding-top: 2vh;
        margin-top: 0px;
        padding-bottom: 1vh;
    }
    
    .callme:hover{
        background-color: rgb(145, 145, 26);
    }
    
    .mailme{
        background-color: black;
        color: white;
        width: 80vw;
        height: 4.4vh;
        border-radius: 30px;
        opacity: 0.8;
        text-align: center;
        padding-top: 2vh;
        margin-top: 0px;
        padding-bottom: 1vh;
    }

    .candl{
        font-weight: 900;
        font-size: 7vw;
        margin-bottom: 5vh;
        margin-top: 5vh;
    }
    
    .mailme:hover{
        background-color: rgb(145, 145, 26);
    }

    
}
