@media screen and (min-width: 1920px) and (max-width: 2560px){    
    #the_number{
        display: flex;
        flex-direction: column;
    }

    .callme{
        background-color: black;
        color: white;
        width: 270px;
        height: 30px;
        border-radius: 30px;
        opacity: 0.8;
        text-align: center;
        margin-top: 0px;
        padding-top: 10px;
    }

    .porpi{
        padding-left: 5px;
        margin-top: -1.6%;
    }

    .callme:hover{
        background-color: rgb(145, 145, 26);
    }

    .mailme{
        background-color: black;
        color: white;
        width: 270px;
        height: 30px;
        border-radius: 30px;
        opacity: 0.8;
        text-align: center;
        padding-top: 10px;
        margin-top: 0px;
    }
    
    .mailme:hover{
        background-color: rgb(145, 145, 26);
    }
}

@media screen and (min-width: 1366px) and (max-width: 1919px){    
    #the_number{
        display: flex;
        flex-direction: column;
    }


    .porpi{
        padding-left: 5px;
        margin-top: -1.6%;
    }

    .callme{
        background-color: black;
        color: white;
        width: 270px;
        height: 30px;
        border-radius: 30px;
        opacity: 0.8;
        text-align: center;
        padding-top: 15px;
        margin-top: 0px;
    }

    .callme:hover{
        background-color: rgb(145, 145, 26);
    }

    .mailme{
        background-color: black;
        color: white;
        width: 270px;
        height: 30px;
        border-radius: 30px;
        opacity: 0.8;
        text-align: center;
        padding-top: 15px;
        margin-top: 0px;
    }
    
    .mailme:hover{
        background-color: rgb(145, 145, 26);
    }
}


@media screen and (min-width: 360px) and (max-width: 640px) {
        #the_number{
        display: flex;
        flex-direction: column;
    }
    
    .porpi{
        padding-left: 5px;
        margin-top: -1.6%;
    }

    .callme{
        background-color: black;
        color: white;
        width: 270px;
        height: 30px;
        border-radius: 30px;
        opacity: 0.8;
        text-align: center;
        padding-top: 15px;
        margin-top: 0px;
    }
    
    .callme:hover{
        background-color: rgb(145, 145, 26);
    }
    
    .mailme{
        background-color: black;
        color: white;
        width: 270px;
        height: 30px;
        border-radius: 30px;
        opacity: 0.8;
        text-align: center;
        padding-top: 15px;
        margin-top: 0px;

    }
    
    .mailme:hover{
        background-color: rgb(145, 145, 26);
    }

    
}
