@media screen and (min-width: 1920px){
        #Nav {
            background-color:rgb(58, 49, 49);
            display: flex;
            border-radius: 35px;
            width: 50vw;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    
        .Button {
            color: white;
            margin-left: 1vw;
            text-decoration: underline;
            font-size: 1vw;
            font-weight: bold;    
        }
        
        .firstButton {
            font-weight: bold;
            font-size: 1vw;
            color: white;
            text-decoration: underline;
            margin-left: auto;
            margin-right: auto;
            margin-left: 10vw;
        }
        
        .Button:hover{
            color: yellow;
        }
        
        .firstButton:hover{
            color: yellow;
        }
}

@media screen and (min-width: 1024px) and (max-width: 1919px) {
    .linkth{
        text-decoration-color: white;
    }
   
    #Nav {
        background-color:rgb(58, 49, 49);
        display: flex;
        border-radius: 35px;
        width: 45%;
        text-align: center;
        margin-left: 25%;
    }
    
    .Button {
        color: white;
        margin-left: 1vw;
        text-decoration: underline;
        font-weight: bold;
        font-size: 1.3vw;
    
    }
    
    .firstButton {
        font-weight: bold;
        color: white;
        text-decoration: underline;
        margin-left: 2cm;
        font-size: 1.3vw;
    }
    
    .Button:hover{
        color: yellow;
    }
    
    .firstButton:hover{
        color: yellow;
    }

}

@media screen and (min-width: 0px) and (max-width: 1023px) {
    #Nav {
        background-color:rgb(58, 49, 49);
        display: flex;
        border-radius: 35px;
        width: 90%;
        text-align: center;
        margin-left: 5%;
        font-size: 2px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .Button {
        color: white;
        margin-left: 20px;
        text-decoration: underline;
        font-size: 10px;
        font-weight: bold;
    
    }
    
    .firstButton {
        font-weight: bold;
        font-size: 10px;
        color: white;
        text-decoration: underline;
        margin-left: 5%;
    }
    
    .Button:hover{
        color: yellow;
    }
    
    .firstButton:hover{
        color: yellow;
    }
}    
