@media screen and (min-width: 1920px){
    .welcome_image{
        width: 65%;
        height: 650px;
        margin-left: -4%;
        margin-top: 25px;
        border-radius: 35px;
    }

    .chez{
        font-size: 65px;
        position: absolute;
        margin-top: -40vh;
        margin-left: 17%;
        font-weight: 900;
        color: white;
    }
    
    .gille{
        font-weight: bolder;
        font-size: 130px;
        color: rgb(235, 193, 9);
        position: absolute;
        margin-top: -35vh;
        margin-left: 16%;
    }
    
    .golden_palace{
        font-weight: 700;
        font-size: 40px;
        color: rgb(235, 193, 9);
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 22px;
        transform: scale(.9, 1);
        position: absolute;
        margin-top: -20vh;
        margin-left: 14.7%;
    }
    
    .elegance{
        color: white;
        font-weight: bold;
        font-size: 25px;
        position: absolute;
        margin-top: -15vh;
        margin-left: 17%;
    }
    
    .reserve{
        background-color: black;
        color: white;
        width: 20vw;
        height: 30px;
        border-radius: 30px;
        opacity: 0.8;
        text-align: center;
        padding-top: 15px;
        position: absolute;
        margin-top: -8%;
        margin-left: 55%;
    }
    
    .reserve:hover{
        background-color: rgb(145, 145, 26);
    }
}

@media screen and (min-width: 1024px) and (max-width: 1919px) {
    .welcome_image{
        width: 65%;
        height: 650px;
        margin-left: -4%;
        margin-top: 25px;
        border-radius: 35px;
    }

    .chez{
        font-size: 65px;
        position: absolute;
        margin-top: -40vw;
        margin-left: 17%;
        font-weight: 900;
        color: white;
    }
    
    .gille{
        font-weight: bolder;
        font-size: 130px;
        color: rgb(235, 193, 9);
        position: absolute;
        margin-top: -35vw;
        margin-left: 16%;
    }
    
    .golden_palace{
        font-weight: 700;
        font-size: 40px;
        color: rgb(235, 193, 9);
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 22px;
        transform: scale(.9, 1);
        position: absolute;
        margin-top: -20%;
        margin-left: 14.7%;
    }
    
    .elegance{
        color: white;
        font-weight: bold;
        font-size: 25px;
        position: absolute;
        margin-top: -15%;
        margin-left: 17%;
    }
    
    .reserve{
        background-color: black;
        color: white;
        width: 20vw;
        height: 30px;
        border-radius: 30px;
        opacity: 0.8;
        text-align: center;
        padding-top: 15px;
        position: absolute;
        margin-top: -8%;
        margin-left: 55%;
    }
    
    .reserve:hover{
        background-color: rgb(145, 145, 26);
    }
}

@media screen and (min-width: 0px) and (max-width: 1023px) {
    .welcome_image{
        width: 104%;
        height: auto;
        margin-left: -4%;
        margin-top: 2vh;
        border-radius: 35px;
    }

    .chez{
        font-size: 8vw;
        position: absolute;
        margin-top: -50%;
        color: white;
        font-weight: 900;
        margin-left: 2vw;
    }
    
    .gille{
        margin-left: 2vw;
        font-weight: bolder;
        font-size: 10vw;
        color: rgb(235, 193, 9);
        position: absolute;
        margin-top: -40%;
    }

    .golden_palace{
        margin-left: 2vw;
        font-weight: bolder;
        font-size: 6vw;
        color: rgb(235, 193, 9);
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 1vw;
        transform: scale(.9, 1);
        position: absolute;
        margin-top: -30%;
        margin-left: -1vw;
    }

    .elegance{
        margin-left: 2vw;
        color: white;
        font-size: 4vw;
        font-weight: bold;
        position: absolute;
        margin-top: -20%;
    }

    .reserve{
        background-color: black;
        color: white;
        width: 30%;
        height: auto;
        border-radius: 30px;
        opacity: 0.8;
        text-align: center;
        padding-top: 1%;
        position: absolute;
        margin-top: -20%;
        margin-left: 65%;
        font-size: 12px;
    }
    
    .reserve:hover{
        background-color: rgb(145, 145, 26);
    }
}