.App {
  text-align: center;
  background-color: #dde0e6;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 1920px){
  #cardSystem{
    display: flex;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) and (max-width:1919px){
  #cardSystem{
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 0px) and (max-width:1023px){
  #cardSystem{
    display: flex;
    flex-direction: column;
    width: 10 0%;
    margin-left: auto;
    margin-right: auto;
  }
}